.state {
    font-size: 1vw;
    font-weight: bold;
    margin-left: 2%;
    padding: 7px 10px;
    border-radius: 25%;
    transition: all 1s ease; /* 平滑过渡 */
    /* 阴影效果 */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.state:hover {
    background-color: #e1f6fa; /* 鼠标悬停时改变背景颜色 */
}

.state.running {
    transition: all 1s ease;
    background: linear-gradient(135deg, #6e7dff, #9ae9f0);
    border: none;
}

.state.running:hover{
    background: rgb(255, 137, 137);
}

.state.stopped {
    transition: all 1s ease;
    background: linear-gradient(135deg, #ff6ec7, #F44336);
    border: none;
}

.state.stopped:hover{
    background: rgb(255, 137, 137);
}

@media screen and (max-width: 1200px) and (max-height: 600px) {
    .state {
        font-size: 1.3vw;
        padding: 5px 10px;
        transition: all 0.5s ease; /* 平滑过渡 */
    }
}
